body {
    font-family: 'Arial', sans-serif;
    background-image: url('./images/background-image.jpg');
    background-size: cover;
    margin: 0; /* Remove default margin */
    background-attachment: fixed;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    display: flex;
}

nav ul li{
    padding: 20px;
}

nav ul a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

nav ul a:hover{
    background-color: skyblue;
}

header {
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding:1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#resume{
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
}

#resume:hover{
    background-color: rgb(8, 187, 241,0.6);
}

#resume a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
}

#connect{
    visibility: hidden;
}

#bio {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 2px;
    padding-top: 1rem;
    display: grid;
    place-items: center;
    line-height: 30px;
    scroll-margin-top: 130px;
}

#about {
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
    padding-top: 2px;
    padding-bottom: 5px;
    width: 700px;
    word-wrap: normal;
    border-radius: 20px;
    margin-bottom: 20px;
}

#projects-container{
    background-color: rgb(0, 0, 0, 0.6);
    color: white;  
    margin-top: 80px; 
}

#projects {
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    text-align: center;
    border-spacing: 20px;
    max-width: 1100px;
    max-height: 900px;
    scroll-margin-top: 202px;
}

.project-card {
    text-align: justify;
    flex: 1;  
    border: solid 3px #ddd;
    padding: 1rem;
    margin: 0 10px 20px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 30px;
    max-width: 500px;
    max-height: 500px;
    width: 400px;
    height: 400px;
}

.proj_pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: skyblue solid 5px;
}

#profile_pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
    border: solid black 3px;
    border-radius: 50%;
}

#expertise{
    display: flex;
    scroll-margin-top: 202px;
    justify-content: center; 
    align-items: center;
    text-align: center;
    max-width: 1100px;
    flex-wrap: wrap;
}

.expertise-card{
    border: solid 3px white;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    margin: 20px;
    max-width: 500px;
    max-height: 500px;
    width: 400px;
    height: 250px;
    margin: 0 10px 20px 10px;
    text-align: justify;
    padding: 20px;
}

#expertise-container{
    margin-top: 80px;
    background-color: rgb(0, 0, 0,0.6);
    color: white;
    scroll-margin-top: 210px;
}

#social{
    background-color: rgb(0, 0, 0,0.6);
    display: flex;
    margin: 60px 0px 80px 0px;
    padding: 10px;
    position: fixed;
    transform: scale(0.7);
    justify-content: flex-start;
    flex-direction: column;
    top: 0;
    left:0
}

.social-link{
    background-color: rgb(255, 255, 255,0.6);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 50%;
}



.social-link a img{
    max-width: 80%;
    max-height: 80%;
    border-radius: 50%;
}

@keyframes effect{
   0%{
    border-radius: 50%;
   }
   100%{
    border-radius: 0%;
   }
}

.social-link:hover{
    animation: effect 0.2s linear;
    border-radius: 0%;
}



#gmail:hover{
    background-color: rgba(231, 11, 11, 0.6);
}

#stack-overflow:hover{
    background-color: rgba(255, 145, 0, 0.6);
}

#linkedin:hover{
    background-color: rgba(8, 150, 245, 0.815);
}






@media only screen and (max-width:480px){

    .header-content{
        flex-direction: column;
        align-items: flex-start;
    }


    #connect{
        visibility: visible;
    }

    .resume-button{
        margin-top: 10px;
        margin-left: 0;
    }

    #about,#projects{
        width: 90%;
        margin-right: 1rem ;
    }

    #social{
        flex-direction: row;
        bottom: 0;
        justify-content: space-around;
        width: calc(100%-2px);
        height: min-content;
        max-width: fit-content;
        position: relative;
        top: auto;
        transform: scale(0.7);
        margin: 0;
    }

    nav ul{
        padding-left: 0;
    }
    
    nav ul li{
        padding-left: 20px;
        margin-bottom: 10px;
    }

    #bio{
        padding-top: 110px;
    }

    #projects{
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        max-height: fit-content;
    }

    .project-card{
        max-width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;
        overflow: hidden;
    }
    #projects-container{
        scroll-margin-top: 230px;
    }

   .social-link{
    margin: 10px;
   }

   #expertise{
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-height: fit-content;
   }

   #expertise-container{
    margin-right: 1rem;
   }
  
}